# Ignore any non .astro files
pnpm-lock.yaml
src/lib/datocms/schema.graphql
**/node_modules
.astro/**
**/.tmp
# some why {ts,tsx,...} pattern doesn't work
**/*.ts
**/*.tsx
**/*.js
**/*.mjs
**/*.cjs
**/*.mts
**/*.jsx
**/*.json

