---
import "~/styles/global.css";

import { Seo, type TitleMetaLinkTag } from "@datocms/astro";
import { TagFragment } from "~/lib/datocms/commonFragments";
import { executeQuery } from "~/lib/datocms/executeQuery";

import { graphql } from "~/lib/datocms/graphql";
import { SITE_TITLE } from "~/constants";
import { Link } from "~/components/Link";
import { isDraftModeEnabled } from "~/lib/draftMode";
import { DraftModeLayoutIndicator } from "~/components/DraftModeLayoutIndicator";

type Props = {
  additionalSeo?: TitleMetaLinkTag[];
};

const { additionalSeo = [] } = Astro.props;

const query = graphql(
  `
    query RootQuery {
      _site {
        globalSeo {
          fallbackSeo {
            title
          }
        }
        faviconMetaTags {
          ...TagFragment
        }
      }
    }
  `,
  [TagFragment],
);

const draftModeEnabled = isDraftModeEnabled(Astro.cookies);
const result = await executeQuery(query, { includeDrafts: draftModeEnabled });
const today = new Date();
---

<html lang="en" class="scroll-smooth antialiased">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{result._site.globalSeo?.fallbackSeo?.title}</title>

    <!-- Font preloads -->
    <link
      rel="preload"
      href="/fonts/atkinson-regular.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link rel="preload" href="/fonts/atkinson-bold.woff" as="font" type="font/woff" crossorigin />
    <Seo data={[...result._site.faviconMetaTags, ...additionalSeo]} />
  </head>
  <body
    class:list={[
      "overscroll-y-none",
      "flex flex-col min-h-screen",
      "bg-canvas text-primary",
      "selection:bg-active/90 selection:fill-primary-inverted selection:text-primary-inverted",
    ]}
  >
    {draftModeEnabled && <DraftModeLayoutIndicator />}
    <header class:list={["p-rsm", "bg-elevation-1"]}>
      <nav class:list={["flex items-center gap-4"]}>
        <h2><a href="/">{SITE_TITLE}</a></h2>
        <div class:list={["flex items-center gap-4", "ml-auto"]}>
          <Link href="/">Home</Link>
          <Link href="/blog">Blog</Link>
          <Link href="/test">Test</Link>
        </div>
      </nav>
    </header>

    <main
      class:list={[
        "w-[720px] max-w-[calc(100%-var(--spacing-r3xs))]",
        "mx-auto px-r2xs py-rmd",
        "flex-grow",
      ]}
    >
      <slot />
    </main>

    <footer class:list={["p-rsm", "bg-elevation-1"]}>
      &copy; {today.getFullYear()}
    </footer>
  </body>
</html>
